body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.modal {
  text-align: center;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-header {
  background-color: #337AB7;
  color: white;
}

.navbar img {
  display: inline;
  padding: 0 0.5em 0 0;
}

.navbar-inverse{
  background: #444;
  padding: 5px;
}
.navbar-brand {
  margin: 0 0 0 2em;
}

.navbar-toggle, .navbar-toggle:active {
  color: #FE7300;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  color: #FFA400;
}

.navbar-inverse .navbar-brand {
  color: white;
  font-size: 22px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 18px;
  margin-right: 10px;
}

.navbar-inverse .navbar-nav > .active > a {
  color: #FE7300;
  background: #444;
}

.navbar-inverse .navbar-nav >li > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover {
  color: #FFA400;
  background: #444;
}

.navbutton {
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
}

.sticker {
  max-width: 100px;
}

.chatPanel {
  height: auto;
  width: 100%;
  overflow-y: scroll;
}

p {
  margin: 0 0 0.2em 0;
}

.gwMessages {
  background: white;
}

.spacer {
  width: 40px;
  position: relative;
}

.gwMsg {
  font-size: 0.8em;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.chatThem, .chatYou {
  padding: 0.5em;
  overflow: hidden;
  display: flex;
}

.chatYou {
  justify-content: flex-end;
  align-items: flex-end;
}

.chatYou .gwMsg {
  background: #0183FE;
  color: white;
  min-width: 100px;
}

.chatThem .gwMsg {
  background: #E8E5E9;
  color: black;
  min-width: 100px;
}

.chatYou .msginfo {
  font-size: 0.8em;
  color: #CCCCCC;
}

.chatThem .msginfo {
  font-size: 0.8em;
  color: #75B2EB;
}

.chatThem .spacer:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 5px solid #E8E5E9;
  border-left-color: transparent;
  border-bottom-color: transparent;
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.3));
  -webkit-filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.3));
}

.chatYou .spacer {
  order: 2;
}

.chatYou .spacer:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -2px;
  width: 0;
  height: 0;
  border: 5px solid #0183FE;
  border-right-color: transparent;
  border-top-color: transparent;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
}

.gw-input-chat .input-group-addon {
  background: white;
}
.gw-input-chat .form-control {
  border-right: 0;
  box-shadow:0 0 0;
  border-color: #CCC;
}
.gw-input-chat button{
  border:0;
  background:transparent;
}

.row{
  padding-bottom: 20px;
}

.hint {
  min-height: 100px;
}

.expand {
  float: right;
}

.fitonmodal {
  display: none;
}

.toggleshow {
  display: none;
}

/* Desktop */
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  canvas {
    height: 700px;
  }
  .sticker {
    max-width: 150px;
  }
  .chatPanel {
    height: 600px;
  }
  .hint {
    min-height: 200px;
  }
  .btn-autosize {
    padding: 10px 10px;
    font-size: 18px;
    min-height: 100px;
    border-radius: 6px;
  }
  .expand {
    display: none;
  }
  .fitonmodal {
    display: block;
  }
}
#showtimer {
font-family: 'Open Sans', sans-serif;
font-weight: bolder;
}
